version: "3.9"

services:
  rabbitmq:
    image: rabbitmq:management-alpine
    container_name: eventflow-mq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
